<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gzgykj.sturollcall">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".app.App"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".mvp.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.jxcall.JXActivity"/>
        <activity android:name=".mvp.ui.face.FaceActivity"/>
        <activity android:name=".mvp.ui.notice.noticedetail.NoticeDetailActivity"/>
        <activity android:name=".mvp.ui.loss.lossdetail.LossDetailActivity"/>
        <activity android:name=".mvp.ui.setting.face.FaceSettingActivity"/>
        <activity android:name=".mvp.ui.video.VideoActivity"/>
        <activity android:name=".mvp.ui.login.LoginActivity"
            />
        <activity android:name=".mvp.ui.setting.face.FaceAddActivity"/>
    </application>

</manifest>